<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="style.css">

    <link href="/static/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">

</head>

<body>
    <section class="header">
        <h1>Login Authentication System in Flask.</h1>
        <nav>
            <div class = "nav-links">
                <ul>
                    <li><a href="{{ url_for('login') }}">Login Page</a><br></li>
                      <li> <a href="{{ url_for('register') }}">Register Page</a><br></li>
                      <li><a hreh="">HOME</a></li>
                      <li><a hreh="">POSTS</a></li>
                      <li><a hreh="">TOPTIPS</a></li>
                      <li><a hreh="">CONTACT</a></li>

                </ul>
            </div>
        </nav>
        
    

    </section>
   
</body>

</html>